<div class="bootstrap-wrapper eerie full-height">
  <div class="container ">
      <div class="row " style="padding-top: 2rem;">
          <div class="col-md-6 offset-md-3 " >
              
              <h1 class="text-center poppins violet">Yoga Classes</h1>
              <h3 class="text-center poppins violet">Admission Form</h3>
              <mat-card class="example-card pad"
                  style="border-radius: 2rem; margin-bottom: 2rem; padding-bottom: 2rem; margin-top: 2rem;">
                  <form (ngSubmit)="formSubmit()" class="example-form poppins">
                      
                      <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Phone</mat-label>
                          <input [(ngModel)]="userData.phone"
                          required  name="phone" matInput
                              placeholder="Enter Here">
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Name</mat-label>
                        <input [(ngModel)]="userData.name"
                        required  name="name" matInput
                            placeholder="Enter Here">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Age</mat-label>
                        <input [(ngModel)]="userData.age"
                        required  name="age" matInput
                            placeholder="Enter Here">
                    </mat-form-field>
                    <h4 class="text-center poppins violet">Select Batch</h4>
                    <div class="row mt20 ml20 text-center">
                        <div class="col-md-6 ">
                            <input [(ngModel)]="userData.batchid" type="radio" [value]="0" [name]="0+''" >6-7 AM
                        </div>
                        <div class="col-md-6 ">
                            <input [(ngModel)]="userData.batchid" type="radio" [value]="1" [name]="0+''">7-8 AM
                        </div>
                        <div class="col-md-6 ">
                            <input [(ngModel)]="userData.batchid" type="radio" [value]="2" [name]="0+''">8-9 AM
                        </div>
                        <div class="col-md-6 ">
                            <input [(ngModel)]="userData.batchid" type="radio" [value]="3" [name]="0+''">5-6 PM
                        </div>
                    </div>



                    <mat-form-field appearance="outline" class="full-width mt10">
                        <mat-label>UPI Id</mat-label>
                        <input [(ngModel)]="userData.upiid"
                        required  name="upiid" matInput
                            placeholder="Enter Here">
                    </mat-form-field>
                   
                      <div class="container text-center">
                          <button type="submit" mat-raised-button color="primary"
                              style="margin-right: 4rem ;">Submit</button>
                          <button type="reset" mat-raised-button color="accent"  >Clear</button>
                          

                      </div>
                      <h3 class="poppins mt10 text-center" style="padding-top: 2rem;">*Please wait 10-15 Seconds after clicking Submit</h3>
                      <h3 class="poppins mt10 text-center" style="margin-top: 0rem; color:#37adf6;" *ngIf="b">Loading</h3>

                  </form>
              </mat-card>

          </div>
      </div>
  </div>
</div>